<launch>
  <!-- FS150 rkisp: shared V4L2 RTP owner. Not camera_ros. Not ROS re-encode. -->
  <arg name="device" default="/dev/video8" />
  <include file="$(find xgc2_camera_driver)/launch/native_v4l2_media.launch">
    <arg name="device" value="$(arg device)" />
    <arg name="width" value="640" />
    <arg name="height" value="480" />
    <arg name="fps" value="30" />
    <arg name="pixel_format" value="nv12" />
    <arg name="encoder" value="x264" />
    <arg name="source_id" value="fs150_cam" />
    <arg name="frame_id" value="fs150_cam_optical_frame" />
    <arg name="rtp_port" value="5004" />
    <arg name="control_socket" value="/tmp/xgc2/media/fs150_cam.sock" />
  </include>
</launch>
